body{

background:#050816;

margin:0;

overflow:hidden;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial;

color:white;

}

#title{

font-size:72px;

font-weight:bold;

letter-spacing:8px;

margin-bottom:20px;

text-shadow:
0 0 10px cyan,
0 0 30px cyan;

}

#status{

font-size:22px;

margin-bottom:25px;

color:#66ffff;

}

#wave{

width:1000px;

height:250px;

}

#speech{

width:70%;

text-align:center;

font-size:28px;

margin-top:30px;

padding:20px;

border:1px solid rgba(0,255,255,0.3);

border-radius:20px;

background:rgba(0,255,255,0.05);

backdrop-filter:blur(10px);

}